<!DOCTYPE html>
<html>
<head>
  <title>MyFedora</title>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>



<div class="e-sign-out">
<%= button_to "Sign Out", session_url, method: :delete %>
</div>



<%= yield %>

</body>
</html>
